<% provide(:title, @title) %>

<% @notes.each do |note| %>
  <div class="row entry-overview">
    <div class="span2 date"><%= raw format_timestamp(note[:created]).split.join('<br/>') %></div>
    <div class="span7">
      <strong><%= link_to(note[:title], note_path(created: note[:created]/1000, trailing_slash: true)) %></strong>
      <br/><%= note[:snippet] %> ...
    </div>
  </div>
<% end %>

<br/>

<div class="row">
<div class="offset3 span4">
<% if @page > 1 %>
<%= link_to('« Previous', "#{add_trailing_slash(request.path)}" + (@page == 2 ? "" : "?page=#{@page - 1}")) %>
<% else %>
« Previous
<% end %>
 — 
<strong><%= @page %></strong>
 — 
<% if @has_next %>
<%= link_to('Next »', "#{add_trailing_slash(request.path)}?page=#{@page + 1}") %>
<% else %>
Next »
<% end %>
</div>
</div>